@import "~antd/dist/antd.css";

.App {
  padding: 50px;
}

.main-content-wrapper {
  max-width: 1200px;
  margin: auto;
}

a {
  color: #00adb5 !important;
  text-decoration: underline;
}

a:hover {
  color: #62bdbd !important;
}

.table {
  font-size: 10pt;
  caption-side: bottom;
  border-collapse: collapse;
  background: #282828 !important;
  color: #eeeeee !important;
}

.form-wrapper {
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-top: 25px;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
}

.submit-button {
  background-color: transparent;
  border: none;
  color: #eeeeee;
  padding: 5px 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  border: 1px solid #00adb5;
  transition: 0.1s linear;
}

.submit-button:hover {
  background-color: #00adb5;
}

.spinner-wrapper {
  width: 100%;
  text-align: center;
}

.data-num {
  font-weight: bold;
}

.error-box {
  border: 1px solid #d44950;
  padding: 15px;
  background: #f8d7da;
  color: #d44950;
  margin-bottom: 0;
}

.alerts {
  margin-top: 10px;
  text-align: center;
}

.poster-img {
  width: 90px;
}

.search-amount {
  color: #eeeeee;
}

/* light */
tr:hover {
  background-color: #00adb5 !important;
}

/* MUI bottom of table row selector */
.MuiTablePagination-select {
  color: #eeeeee !important;
}

.MuiSelect-icon {
  color: #eeeeee !important;
}

.MTablePaginationInner-root-14 {
  color: #eeeeee !important;
}

.MuiIconButton-root.Mui-disabled {
  color: #eeeeee !important;
}

.Component-paginationToolbar-2 {
  width: 100%;
  padding: 0;
  background: #393e46 !important;
}

.MTableToolbar-root-5 {
  background: #00adb5;
}

.MuiToolbar-regular {
  background: #00adb5;
}

.MuiToolbar-gutters {
  background: #00adb5;
}

.MuiTypography-h6 {
  color: #eeeeee;
}

.MuiInput-underline:after {
  border-bottom: 2px solid #222831 !important;
}

.MuiTableCell-body {
  color: #fff;
  background: #393e46;
}

.MuiTable-root {
  background: #393e46;
}

/* .MuiInputBase-root {
  color: #eeeeee;
} */

/* ant */
.ant-tabs-ink-bar {
  position: absolute;
  background: #00adb5;
  pointer-events: none;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #00adb5;
  text-shadow: 0 0 0.25px currentColor;
}

.ant-tabs-tab-btn:focus,
.ant-tabs-tab-remove:focus,
.ant-tabs-tab-btn:active,
.ant-tabs-tab-remove:active {
  color: #00adb5;
}

.ant-tabs-tab-btn {
  outline: none;
  transition: all 0.3s;
  color: #eeeeee;
}

.ant-tabs-tab-btn:hover {
  outline: none;
  transition: all 0.3s;
  color: #00adb5;
}
