body {
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
  font-family: "Roboto", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  min-height: 100vh;
  background-color: #181818;
}

.ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-bottom > .ant-tabs-nav::before,
.ant-tabs-top > div > .ant-tabs-nav::before,
.ant-tabs-bottom > div > .ant-tabs-nav::before {
  border-bottom: none !important;
}

/* .ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-bottom > .ant-tabs-nav::before,
.ant-tabs-top > div > .ant-tabs-nav::before,
.ant-tabs-bottom > div > .ant-tabs-nav::before {
  position: absolute;
  right: 0;
  left: 0;
  border-bottom: 1px solid #f0f0f0;
  content: "";
} */

.ant-tabs-tab-btn {
  outline: none;
  transition: all 0.3s;
  color: white;
}

/* this will give even widths, but can make the table very high. poster URL is the main culprit */
/* table {
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
} */
