body {
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
  font-family: "Roboto", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  min-height: 100vh;
  background-color: #f3f3f3;
}

/* this will give even widths, but can make the table very high. poster URL is the main culprit */
/* table {
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
} */
